*
{
    padding: 0px;
    margin: 0px;
}

html
{
    scroll-behavior: smooth;
}

body {
    background-color: #f6f9fc;
}

#main-body{
    max-width: 50rem;
}

#header
{
    padding: 1rem;
    display: flex;
    align-items: center;
}

#header > #title
{
    font-size: 2rem;
    text-align: left;
    word-wrap: break-word;
}

.spacer 
{
    flex-grow: 1;
}

#logo 
{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 7rem;
    height: 7rem;
}

.tab-bar {
    padding: 0 0.5rem 0 0.5rem;
}

.tab-content
{
    padding: 1rem;
}

#about-tab-pane > .welcome
{
    font-size: 1.5rem;
}

.btn-xl
{
    font-size: 1.2rem;
    padding: 0.8rem;
}

.icon
{
    font-size: 1.2rem;
    padding-right: 0.4rem;
}

.qr-rect
{
    fill: white;
}

.qr-path
{
    fill: black;
}

.made-by
{
    color: #cacaca;
}


.made-by > a
{
    color: #ae91dd;
}

.upi-qr
{
    height: 245px;
    width: 245px;
}

.upi-logo
{
    height: 3rem;
}


@media (prefers-color-scheme: dark) {
    body 
    {
        background-color: #222222;
        color: white;
    }

    .qr-rect
    {
        fill: black;
    }

    .qr-path
    {
        fill: white;
    }
}

